<p>switch-case works!</p>
<div [ngSwitch]="color">
    <h3 style="color: red;" *ngSwitchCase="'red'">Red Color</h3>
    <h3 style="color: white;" *ngSwitchCase="'white'">white Color</h3>
    <h3 style="color: blue;" *ngSwitchCase="'blue'">blue Color</h3>
    <h3 style="color: yellow;" *ngSwitchCase="'yellow'">yellow Color</h3>
    <h3 style="color: green;" *ngSwitchCase="'green'">green Color</h3>
    <h3 style="color: cyan;" *ngSwitchCase="'cyan'">cyan Color</h3>
    <h3 style="color: orange;" *ngSwitchCase="'orange'">orange Color</h3>
    <h3 *ngSwitchDefault>Default Color</h3>

</div>