<app-function-call></app-function-call>
<app-event-call></app-event-call>
<app-input-text></app-input-text>
<app-counter></app-counter>
<app-property-binding></app-property-binding>
<app-else-if></app-else-if>
<app-switch-case></app-switch-case>
<app-for-loop></app-for-loop>
<app-nested-for-loop></app-nested-for-loop>
<app-style-binding></app-style-binding>
<app-basic-form></app-basic-form>
<app-todo-list></app-todo-list>
<app-two-way-binding></app-two-way-binding>
<app-pipes></app-pipes>
<app-child [item] = "data"></app-child>
<button (click)="updateData()" class="btn btn-secondary">Update Data</button>
<app-templete-driven-form></app-templete-driven-form>
<app-reactive-form></app-reactive-form>